{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Contact{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center">

        <div class="col-10 text-primary">
            <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">LISTE CONTACTS</h1>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 p-4 m-0 text-primary" style="background-color: #c763d5; border-radius: 10px;">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="fw-bold text-primary">
                                    <th scope="col">Nom</th>
                                    <th scope="col">Sujet</th>
                                    <th scope="col">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in contacts %}
                                <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
                                    <td>{{ contact.nom | capitalize }}</td>
                                    <td>{{ contact.sujet | capitalize }}</td>
                                    <td>{{ contact.email | lower }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}